<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen justify-content-center align-items-center">
					<div class="col-lg-8">
						<div class="banner-content text-center">
							<p class="text-uppercase text-white">We work hard, we result perfect</p>
							<h1 class="text-uppercase text-white">Hack for my nation!!!</h1>
							<a href="#blog" class="primary-btn banner-btn">Explorer Us</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		
		<!-- Start Product Area -->
		<section id="services" class="title-bg section-full">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-area-title text-center">
							<p class="text-white text-uppercase">The Hacking Project</p>
							<h2 class="text-white h1">Les cursus de  <br>THP</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="icon">
								<span class="lnr lnr-star"></span>
							</div>
							<div class="desc">
								<h4>Html || Css</h4>
								<p>Vous apprendrez les bases du web design, la réalisation, et l'exploration de la partie front-end d'un site web. Adapté mobile.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="icon">
								<span class="lnr lnr-magic-wand"></span>
							</div>
							<div class="desc">
								<h4>Ruby</h4>
								<p>Avec Ruby vous découvrirez le scrapping de data, l'utilisation du deep web et les bases de la célèbre Programmation Orientée Objet.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="icon">
								<span class="lnr lnr-sun"></span>
							</div>
							<div class="desc">
								<h4>Ruby on Rails</h4>
								<p>Découvrez l'un des framework web les plus célèbres. Il vous permettra de rapidement coder une application web fonctionnelle.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-product">
							<div class="icon">
								<span class="lnr lnr-layers"></span>
							</div>
							<div class="desc">
								<h4>Javascript</h4>
								<p>Vous découvrirez comment faire vivre votre site en le rendant interactif et comment améliorer l'experience du visiteur.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Product Area -->
		<!-- Start Progress Bar Area -->
		<div class="container pt-150">
			<div class="row">
				<div class="col-lg-3 col-sm-6 d-flex justify-content-center">
					<div class="list text-center">
						<div class="list-item">
							<div class="progressBar progressBar--animateNone" data-progress="80">
								<svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
									<circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
									<circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
								</svg>
								<span class="progressBar-percentage progressBar-percentage-count"></span>
							</div>
						</div>
						<p class="text-uppercase">Html || Css</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 d-flex justify-content-center">
					<div class="list text-center">
						<div class="list-item">
							<div class="progressBar progressBar--animateText" data-progress="75">
								<svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
									<circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
									<circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
								</svg>
								<span class="progressBar-percentage progressBar-percentage-count"></span>
							</div>
						</div>
						<p class="text-uppercase">Ruby</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 d-flex justify-content-center">
					<div class="list text-center">
						<div class="list-item">
							<div class="progressBar progressBar--animateCircle" data-progress="60">
								<svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
									<circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
									<circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
								</svg>
								<span class="progressBar-percentage progressBar-percentage-count"></span>
							</div>
						</div>
						<p class="text-uppercase">Ruby on rails</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 d-flex justify-content-center">
					<div class="list text-center">
						<div class="list-item">
							<div class="progressBar progressBar--animateAll" data-progress="40">
								<svg class="progressBar-contentCircle"  viewBox="0 0 200 200">
									<!-- on défini le l'angle et le centre de rotation du cercle -->
									<circle transform="rotate(-90, 100, 100)" class="progressBar-background" cx="100" cy="100" r="95" />
									<circle transform="rotate(-90, 100, 100)" class="progressBar-circle" cx="100" cy="100" r="95" />
								</svg>
								<span class="progressBar-percentage progressBar-percentage-count"></span>
							</div>
						</div>
						<p class="text-uppercase">Javascript</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Progress Bar Area -->
		<!-- Start shuffle Area -->
		<section id="protfolio" class="section-full">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-area-title text-center">
							<p class="text-uppercase">Travail </p>
							<h2 class="h1">Nous voulons vous satisfaire <br>aux mieux</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="controls d-flex flex-wrap justify-content-center">
					<a class="filter active" data-filter="all">All</a>
					<a class="filter" data-filter=".category-1">Categories</a>
					<a class="filter" data-filter=".category-2">Branding</a>
					<a class="filter" data-filter=".category-3">Image Manipulation</a>
					<a class="filter" data-filter=".category-4">Creative Work</a>
					<a class="filter" data-filter=".category-5">Web Design</a>
					<a class="filter" data-filter=".category-6">Print Material</a>
				</div>
			</div>


			<!-- Ici, on va mettre des clic to action, car ces images des portefolios, on va les remplacer
			les miniature de nos différents landingpages -->					
			<div id="filter-content" class="row no-gutters mt-70">
				<div class="mix category-1 col-lg-3 col-md-4 col-sm-6 single-filter-content content-1" data-myorder="1">
					<div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
						<p class="text-white">Image Manipulation</p>
						<div class="line"></div>
						<h5 class="text-white text-uppercase">Creative Tangerine</h5>
					</div>
				</div>
				<div class="mix category-1 category-5 category-3 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-2" data-myorder="2">
					<div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
						<p class="text-white">Image Manipulation</p>
						<div class="line"></div>
						<h5 class="text-white text-uppercase">Creative Tangerine</h5>
					</div>
				</div>
				<div class="mix category-1 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-3" data-myorder="3">
					<div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
						<p class="text-white">Image Manipulation</p>
						<div class="line"></div>
						<h5 class="text-white text-uppercase">Creative Tangerine</h5>
					</div>
				</div>
				<div class="mix category-2 category-3 category-6 col-lg-3 col-md-4 col-sm-6 single-filter-content content-4" data-myorder="4">
					<div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
						<p class="text-white">Image Manipulation</p>
						<div class="line"></div>
						<h5 class="text-white text-uppercase">Creative Tangerine</h5>
					</div>
				</div>
				<div class="mix category-1 category-4 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-5" data-myorder="5">
					<div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
						<p class="text-white">Image Manipulation</p>
						<div class="line"></div>
						<h5 class="text-white text-uppercase">Creative Tangerine</h5>
					</div>
				</div>
				<div class="mix category-1 category-3 category-5 category-6 col-lg-3 col-md-4 col-sm-6 single-filter-content content-6" data-myorder="6">
					<div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
						<p class="text-white">Image Manipulation</p>
						<div class="line"></div>
						<h5 class="text-white text-uppercase">Creative Tangerine</h5>
					</div>
				</div>
				<div class="mix category-2 category-4 category-3 col-lg-3 col-md-4 col-sm-6 single-filter-content content-7" data-myorder="7">
					<div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
						<p class="text-white">Image Manipulation</p>
						<div class="line"></div>
						<h5 class="text-white text-uppercase">Creative Tangerine</h5>
					</div>
				</div>
				<div class="mix category-2 category-6 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-8" data-myorder="8">
					<div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
						<p class="text-white">Image Manipulation</p>
						<div class="line"></div>
						<h5 class="text-white text-uppercase">Creative Tangerine</h5>
					</div>
				</div>
			</div>
		</section>
		<!-- End shuffle Area -->
		<!-- Start Team member Area -->
		<section id="team" class="pb-150">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-area-title text-center">
							<p class="text-uppercase">Creative People</p>
							<h2 class="h1">Dream Team<br>Madagascar</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-member">
							<div class="thumb relative" style="background: url(img/andry.png);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">Développeur back-end</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="https://mbasic.facebook.com/ax.twoo"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Andry Hajanirina</a></h5>
								<p>Développeur back-end</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-member">
							<div class="thumb relative" style="background: url(img/tino.jpg);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">Développeur front & back-end</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="https://mbasic.facebook.com/deejaytix"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Tino Sam</a></h5>
								<p>Développeur front & back-end</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-member">
							<div class="thumb relative" style="background: url(img/mino.png);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">Développeur front-end & spécialistes en marketing</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="https://mbasic.facebook.com/mino.rharitiana/"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Mino</a></h5>
								<p>Développeur front-end & spécialistes en marketing</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-member">
							<div class="thumb relative" style="background: url(img/t.jpg);">
								<div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
									<p class="text-white">Développeur front-end & Back-end</p>
									<div class="line"></div>
									<div class="social d-flex align-items-center justify-content-center">
										<a href="https://mbasic.facebook.com/tnj.razaf"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="desc text-center">
								<h5 class="text-uppercase"><a href="#">Njaratiana</a></h5>
								<p>Développeur front-end & Back-end</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End Team member Area -->

		<!-- Start Digital Studio -->
		<section class="section-full studio-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="studio-content">
							<p class="text-uppercase text-white">Nous créons des designs Top :)</p>
							<h2 class="h1 text-white text-uppercase mb-20">Des créateur digital<br>sous THP</h2>
							<p class="text-white mb-30">Les utilisateurs d'ordinateurs et les programmeurs se sont tellement habitués à utiliser Windows, même pour les capacités changeantes et les apparences de l'interface graphique des versions, qu'il est donc resté le produit de Microsoft.</p>
							<a href="#blog" class="primary-btn text-white d-inline-flex align-items-center">Explorer<span class="lnr lnr-arrow-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Digital Studio -->
		<!-- Start Pricing Area -->
		
		<!-- End Pricing Area -->
		<!-- Start Testimonial Area -->
		
		<!-- End Testimonial Area -->
		<!-- Start Publish Area -->
		<section id="blog" class="section-full">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-area-title text-center">
							<p class="text-uppercase">Les landing page</p>
							<h2 class="h1">Publier juste <br>pour vous</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="single-publish">
							<img src="img/tana.jpg" class="img-fluid" alt="">
							<div class="top">
								<div class="mb-15 d-flex">
									<a href="#">16 mai, 2018</a>
									<span class="line">|</span>
									<a href="#">By Mino Hari</a>
								</div>
								<h6 class="text-uppercase"><a href="#">Visant la ville de Tananarive Madagascar</a></h6>
							</div>
							<p class="mb-30">Ce landing page vise surtout les étudiants qui veulent suivre THP</p>
							<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6">
						<div class="single-publish">
							<img src="img/bachelier.jpg" class="img-fluid" alt="">
							<div class="top">
								<div class="mb-15 d-flex">
									<a href="#">17 mai, 2018</a>
									<span class="line">|</span>
									<a href="#">By Tino Sam</a>
								</div>
								<h6 class="text-uppercase"><a href="https://fathomless-cove-10223.herokuapp.com/">Visant les bacheliers</a></h6>
							</div>
							<p class="mb-30">Ce landing page vise surtout les habitants de Madagascar, particulièrement de Tananarive </p>
							<a href="https://fathomless-cove-10223.herokuapp.com/" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Publish Area -->
		<!-- Start Contact Area -->
		
		<!-- End Contact Area -->
		<!-- Start Cta Area -->
	