<!-- End Cta Area -->
<footer class="section-full">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">A propos de nous</h6>
                    <p>Nous somme des jeunes étudiants suivant les cursus de THP, on a tous dans notre équipe</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Liens de navigation</h6>
                    <div class="d-flex">
                        <ul class="footer-nav">
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                        </ul>
                        <ul class="ml-30 footer-nav">
                            <li><a href="#team">Equipe</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Newsletter</h6>
                    <p>Pour recevoir nos newsletter abonez vous avec votre email,</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01" method="get" class="subscription relative d-flex justify-content-center">
                            <input type="email" name="EMAIL" placeholder="Adresse email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'adresse email'" required>
                            <div style="position: absolute; left: -5000px;">
                                <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
                            </div>
                            <button type="submit" class="newsletter-btn" name="subscribe"><span class="lnr lnr-location"></span></button>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">InstaDrole :D</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="img/i1.jpg" alt=""></li>
                        <li><img src="img/i2.jpg" alt=""></li>
                        <li><img src="img/i3.jpg" alt=""></li>
                        <li><img src="img/i4.jpg" alt=""></li>
                        <li><img src="img/i5.jpg" alt=""></li>
                        <li><img src="img/i6.jpg" alt=""></li>
                        <li><img src="img/i7.jpg" alt=""></li>
                        <li><img src="img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center">
            <p class="footer-text m-0">Copyright &copy; 2018  |  All rights reserved to <a href="#">THP</a> Designed by <a href="">DT. Madagascar</a>.</p>
            <div class="footer-social d-flex align-items-center">
                <a href="https://mbasic.facebook.com/thehackingproject"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/the_hacking_pro"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>